.ranked-sent {
    background-color: yellow;
}

.ranked-sent:hover {
    background-color: white;
    cursor: pointer;
}

.not-ranked-sent:hover {
    background-color: yellow;
    cursor: pointer;
}

.question-area {
    width: 100%;
    border: dotted 1px black;
}