{% extends "base.html" %}
{% block content %}
    <form role="form" method='POST' action='/'>
        <div class="form-group">
          <textarea name="input-text" class="form-control" id="text-box" placeholder="Enter text..."
                    autofocus required></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <p>
        {% for item in text %}
            {% if item in ranked %}
                <span class="ranked-sent">{{ item }}</span>
            {% else %}
                <span class="not-ranked-sent">{{ item }}</span>
            {% endif %}
        {% endfor %}
    </p>

{% endblock %}